<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:replace="fragments/common :: head('board list')"></div>

<body>

	<div th:replace="fragments/common :: header('list')"></div>

	<div class="container">
		<div style="margin-bottom: 10px; margin-top: 10px;">
			<div style="display: inline-block; width: 89%; padding-top: 23px;">
				총 게시물 수: <span th:text="${p.totalElements}"></span>
			</div>
			<a class="btn btn-primary" th:href="@{/board/form}">새글작성</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${boards}">
					<td th:text="${board.b_no}">1</td>

					<td><a th:href="@{|/board/detail/${board.b_no}|}" th:text="${board.b_title}">1</a></td>
					<td th:text="${board.user.cu_id}">1</td>
					<td th:text="${board.b_hit}">1</td>
				</tr>
			</tbody>
		</table>

		<div class="text-right my-btn" style="margin-top: 0px; margin-right: 0px;">
			<a class="btn btn-primary" th:href="@{/board/form}">새글작성</a>
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:if="${p.first == false}"><a class="page-link" th:href="@{/board/list(page=${p.number-1})}">Previous</a></li>
				<li class="page-item" th:classappend="${p.number==i} ? 'disabled'" th:each="i : ${#numbers.sequence(0,p.totalPages-1)}"><a class="page-link" th:href="@{/board/list(page=${i})}" th:text="${i+1}">1</a></li>
				<li class="page-item" th:if="${p.last == false}"><a class="page-link" th:href="@{/board/list(page=${p.number+1})}">Next</a></li>
			</ul>
		</nav>
		<!-- th:href="@{/board/list(page=${i},searchTest=${param.searchText})}" -->
		<form class="row g-3 d-flex justify-content-center">
			<select class="form-select" style="height: 38px; width: 130px; margin-right: 10px;">
				<option selected>*</option>
				<option value="tc">제목+내용</option>
				<option value="t">제목만</option>
				<option value="c">내용만</option>
				<option value="w">작성자</option>
				<option value="bc">댓글</option>
			</select>
			<div class="col-auto" style="padding: 0px;">
				<input type="text" class="form-control" id="searchType"  placeholder="검색어">
			</div>
			<!-- th:value="${param.searchText}" -->
			<div class="col-auto">
				<button type="submit" class="btn btn-light mb-3" th:text="검색">Confirm identity</button>
			</div>
		</form>
	</div>


	<div th:replace="fragments/common :: footer"></div>

	<div th:replace="fragments/common :: js"></div>

</body>

</html>
